<!-- <button (click)="initNewProfile()">Create New Profile</button> -->
<div *ngIf="profile">
    <h2>{{ profile.name }}</h2>
    <div>   
        Name:
        <input [(ngModel)]="profile.name" placeholder="Name" />
    </div><div>   
        Privacy Level:
        <input [(ngModel)]="profile.privacyLevel" placeholder="Privacy Level" />
    </div>
<!-- <div>
    <button (click)="editProfile(profile)">Edit</button>
</div>
    -->

</div>
<button style="font-size:large" mat-button color="primary" (click)="createProfile()">Create Profile</button>

