<mat-card *ngIf="profile" class="post-card">
    <mat-card-header>
        <img mat-card-avatar src="{{profile.picture}}" alt="My avatar" referrerpolicy="noreferrer">
        <mat-card-title>
            {{profile.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{post.dateModified | date}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{post.content}}</p>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-icon-button (click)="clickLike()">
            <mat-icon [ngClass]="{pink: liked, black: !liked}">thumb_up</mat-icon>
            {{post.likes}}
        </button>

        <button mat-icon-button>
            <mat-icon (click)="onReplyClick()">chat_bubble</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>