<!-- About Us section block -->
<div class="about-section">
    <h1>About Us</h1>
    <p class="create"><b><i>Creating a space for all to learn about investments</i></b></p>
  </div>
  <br>
  <br>
  <br>
  <br>
<!-- Yoink! Story card with info -->
<div class="row">
<div class="column">
    <div class="card">
    <img src="./assets/img/favicon-32x32.png" alt="Yoink logo">
    <div class="container">
        <h2>Yoink! Story</h2>
        <p class="title"><i><b>Who We Are</b></i></p>
        <p><b>A group of software developers came together to create an application where everyone could learn how to make investments without risking their own money. </b></p>
    </div>
    </div>
</div>
<!-- Yoink! Method card with info -->
<div class="column">
    <div class="card">
    <img src="./assets/img/favicon-32x32.png" alt="Yoink logo">
    <div class="container">
        <h2>Yoink! Method</h2>
        <p class="title"><i><b>What We Do</b></i></p>
        <p><b>We exist to help our users achieve their long-term financial goals. We believe our users should have open access to the information they need to invest with confidence. We aim to offer our users a platform where they can learn about making investments through simulation.</b></p>   
    </div>
    </div>
</div>
<!-- Yoink! Mission card with info -->
<div class="column">
    <div class="card">
    <img src="./assets/img/favicon-32x32.png" alt="Yoink logo">
    <div class="container">
        <h2>Yoink! Mission</h2>
        <p class="title"><i><b>Why We Do It</b></i></p>
        <p><b>Investing can cause valid and genuine fears for new investors. Even experienced investors can become scared at times. People make bad decisions, get carried away by emotions, and lose money because of situations outside of their control. Yoink! gives you the opportunity to experience investing without any of the these risks.</b></p>
    </div>
    </div>
</div>
</div>