<mat-card class="example-card">
    <mat-card-title>Information</mat-card-title>
    <mat-card-subtitle>exam</mat-card-subtitle>
    <mat-card-content>
      <p>This card need to work.</p>
       
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-title>Information</mat-card-title>
    <mat-card-subtitle>exam</mat-card-subtitle>
    <mat-card-content>
      <p>This card need to work.</p>
       
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>