

<nav>
  <div class="center"> <!-- font size needs to be changed here -->
    <a><button style="font-size: 20px" mat-button color="primary" (click)="'/'">Home</button></a>

    <app-auth-button></app-auth-button>
    <a><button style="font-size:large" mat-button color="primary" [routerLink]="'/Portfolio'" routerLinkActive="active"(click)="'/Portfolio'">Portfolio</button></a>
    
    <a><button style="font-size:large" mat-button color="primary" [routerLink]="'/BuySell'" routerLinkActive="active" *ngIf="auth.user$ | async as user">Buy/Sell</button></a>

    <a><button style="font-size:large" mat-button color="primary" (click)="'/News'">News</button></a>
    <!-- <a><button style="font-size:large" mat-button color="primary" (click)="'/Posts'" *ngIf="auth.user$ | async as user">Posts</button></a> -->
    <!-- <a><button style="font-size:large" mat-button color="primary" (click)="'/Friends'" *ngIf="auth.user$ | async as user">Friends</button></a> -->
    <a><button style="font-size:large" mat-button color="primary" (click)="'/Profile'">Profile</button></a>
    <a style="font-size:large" routerLink="/user" routerLinkActive="active" *ngIf="auth.user$ | async as user">{{ user.name }}</a>
    <!-- <a><button style="font-size:large" mat-button color="primary" (click)="'/SignIn'">Sign In</button></a> -->
    <a><app-signin></app-signin></a>
    <a><button style="font-size:large" mat-button color="primary" (click)="'/Register'">Register</button></a>
    <!-- <a><button style="font-size:large" mat-button color="primary" (click)="'/SignOut'">Sign Out</button></a> -->
    <a><app-sign-out></app-sign-out></a>
    <a *ngIf="auth.user$ | async as user">{{ user.name }}</a>

  </div>
</nav>

