<!DOCTYPE html>

<section>
  <div class="center">
    <span>
    <button mat-button color="primary" (click)="'/'">Home</button></span>
    <span><button mat-button color="primary" (click)="'/'">Portfolio</button></span>
    <button mat-button color="primary" (click)="'/'">Buy/Sell</button>
    <button mat-button color="primary" (click)="'/'">News</button>
    <button mat-button color="primary" (click)="'/'">Posts</button>
    <button mat-button color="primary" (click)="'/'">Friends</button>
    <button mat-button color="primary" (click)="'/'">Sign In</button>
    <button mat-button color="primary" (click)="'/'">Sign Out</button>
    <button mat-button color="primary" (click)="'/'">Register</button>
  </div>
</section>
