<div *ngIf="auth.user$ | async as user">
    <h1>Yoink, {{ user.name }}!</h1>
    <app-profile></app-profile>
    <div class="row" *ngIf="profileJson">
        <pre class="col-12 text-light bg-dark p-4">{{ profileJson }}</pre>
</div>

    <!-- <img 
        [src]="user.picture"
        alt="Profile Pic"
        >
        <h2>{{ user.name }}</h2>
        <h5>{{ user.email }}</h5> -->
        <!-- <button (click)="editProfile(profile)">Edit</button>
        </div> -->
        <!-- <div>
            <app-profile></app-profile>
        </div> -->
        <!-- <button (click)="initNewProfile()">Create New Profile</button> -->
        <!-- <app-profile [profile]="profileToEdit"></app-profile> -->
        