<div *ngIf="profile">
<h2>{{ this.profile.name }}</h2>
<div>
    Picture:
    <input [(ngModel)]="this.profile.picture" placeholder="Picture"/> 
</div>
<div>
    Name:
    <input [(ngModel)]="this.profile.name" placeholder="Name"/> 
</div>
<div>
    Email:
    <input [(ngModel)]="this.profile.email" placeholder="Email"/>    
</div>
<div>
    Privacy Level:
    <input [(ngModel)]="this.profile.privacyLevel" placeholder="PrivacyLevel"/>  
</div>
<button mat-raised-button [disabled]="isClicked" (click)="updateProfile(profile); isClicked=true">Save</button>
</div>
