<!-- <div class="comment">
    <div class="comment-image-container">  
        <img src="/client/apple-touch-icon.png">   
    </div>
    <div class="comment-right-part">
        <div class="comment-content">
            <div class="comment-author">{{ comment.fk_UserID }}</div>
        </div>
        <div clas="comment-text">{{ comment.content }}</div> -->
        <!-- COMMENT FORM EDITING
        <div class="comment-actions">
            <div *ngIf="canReply" class="comment-action">Reply</div>
            <div *ngIf="canEdit" class="comment-action">Edit</div>
            <div *ngIf="canDelete" class="comment-action">Delete</div>
        </div> -->
    <!-- </div>
</div> -->
