<table mat-table [dataSource]="investments" class="mat-elevation-z8">
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Symbol </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="amountInvested">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Invested </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.amountInvested | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="currentAmount">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Stock owned </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.currentAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="totalAmountBought">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Total bought </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.totalAmountBought}} </td>
    </ng-container>
    
    <ng-container matColumnDef="totalAmountSold">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Total sold </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.totalAmountSold}} </td>
    </ng-container>

    <ng-container matColumnDef="currentPrice">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Current Price </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.currentPrice | currency}} </td>
    </ng-container>
    
    <ng-container matColumnDef="averageBuyPrice">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Average Buy Price</th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.averagedBuyPrice | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPNL">
        <th mat-header-cell *matHeaderCellDef class="table-row"> PNL </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.totalPNL | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="dateModified">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Last modified </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> {{inv.dateModified | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef class="table-row"> Update price </th>
        <td mat-cell *matCellDef="let inv" class="table-row"> <button mat-icon-button (click)="updatePrice(inv.symbol)"><mat-icon>sync</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-progress-bar mode="query" *ngIf="loadingPrices"></mat-progress-bar>
    