<div class="create-button-container">
  <button mat-button color="primary" id="create-portfolio-button" (click)="displayCreatePortfolioModal()"><mat-icon>add</mat-icon> Create Portfolio</button>
</div>

<div class="portfolio-list-container">
  <mat-action-list>
    <div mat-subheader id="subheading">My Portfolios</div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let portfolio of portfolios" (click)="displayPortfolio(portfolio.portfolioID)">
      <mat-icon mat-list-icon class="portfolio-col">folder</mat-icon>
      <div class="portfolio-col">
        <div mat-line class="portfolio-row">{{portfolio.name}}</div>
        <div mat-line class="portfolio-row">{{portfolio.dateModified | date}}</div>
      </div>
      <div class="portfolio-col">
        <div mat-line class="portfolio-row">Total PNL</div>
        <div mat-line class="portfolio-row">{{portfolio.totalPNL | currency}}</div>
      </div>
      <div class="portfolio-col">
        <div mat-line class="portfolio-row">Original Investment</div>
        <div mat-line class="portfolio-row">{{portfolio.originalLiquid | currency}}</div>
      </div>
      <div class="portfolio-col">
        <div mat-line class="portfolio-row">Available cash</div>
        <div mat-line class="portfolio-row">{{portfolio.liquid | currency}}</div>
      </div>
      <div class="portfolio-col">
        <div mat-line class="portfolio-row">Current investments</div>
        <div mat-line class="portfolio-row">{{portfolio.currentInvestment | currency}}</div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-action-list>
</div>