.create-button-container {
  width: 100%;
  height: 20vh;
  display: grid;
  place-items: center center;
}

.portfolio-list-container {
  display: grid;
  place-items: center center;
}

.portfolio-row {
  margin: 0 10px;
  text-align: center;
}

.portfolio-col {
  width: 200px;
}

#subheading {
  text-align: center;
}

#create-portfolio-button {
  background-color: #93C6F7;
}