/* Buy and Sell title*/
.title {
  text-align: center;
  text-decoration: underline;
}

/* <Div> that has everything inside of it */
.component-container {
  display: flex;
  justify-content: space-evenly;
}

/* Search box */
.search-form-field {
  display: flex;
  justify-content: space-between;
}

/* Moves boxes away from edge of page */
.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

/* The portfolio and buy/sell dropdown boxes */
.dropdown-fields {
  text-align: left;
  font-size: large;
  margin-left: 15px;
  text-decoration: underline;
}

/* The enter ticker and quantity boxes */
.input-fields {
  text-align: left;
  font-size: large;
  margin-left: 15px;
  text-decoration: underline;

}

/* The total amount of the order */
.total {
  text-align: center;
  font-size: x-large;
  color: red;
  padding-bottom: 1px;
  position: absolute;
  text-decoration: underline;
  margin-left: 20px;
  position: absolute;
  bottom: 150px;
}

/* The red cancel button */
.back-btn {
  background-color: red;
  font-size: 15px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 1px;
  border: black;
  border-radius: 25px;
  margin-right: 50px;
  position: absolute;
  bottom: 140px;
  left: 550px;
}

/* The green payment button */
.buy-btn {
  background-color: rgb(8, 199, 8);
  font-size: 15px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 1px;
  border: black;
  border-radius: 25px;
  margin-right: 50px;
  position: absolute;
  bottom: 140px;
  left: 800px;
}
