<h2 class='title' style="font-size:xx-large">{{ title }}</h2>
<div class="component-container"> <!-- entire container -->
  <div class="form-container"> <!-- Has portfolio, order type, ticker, quantity, total and buttons -->
    <form class="BuySell-Panel"> <!-- What's needed for a buy or sell order-->
      <div class="dropdown-fields"> <!-- Just dropdown boxes -->
        <div> <!-- Chose which portfolio to use drop down box -->
          <mat-form-field>
            <mat-label>Portfolio</mat-label>
            <mat-select [required]="true" [(value)]="portfolioID">
              <mat-option *ngFor="let port of portfolios" value="{{port.portfolioID}}">
                {{ port.name + ' - ' + (port.liquid | currency) }} 
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <mat-form-field> <!-- Chose either buy or sell drop down box -->
          <mat-label>Choose Buy or Sell</mat-label>
          <mat-select [required]="true" [(value)]="selected">
            <mat-option *ngFor="let option of options" value="{{option.value}}">
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-fields"> <!-- Order Fill in boxes -->
        <div class="Row-2"> <!-- Enter ticker fill in box -->
          <mat-form-field appearance="fill">
            <mat-label>Enter Ticker Symbol</mat-label>
            <input matInput #input maxlength="5" placeholder="Ticker Symbol" [required]="true" [formControl]="symbol">
          </mat-form-field>
        </div>
        <div class="Row-3"> <!-- Enter quantity fillin box -->
          <mat-form-field appearance="fill">
            <mat-label>Enter Quantity</mat-label>
            <input type="text" matInput #input maxlength="7" placeholder="Quantity" [(ngModel)]="qty"
              [ngModelOptions]="{standalone: true}" [required]="true">
          </mat-form-field>
          <div class="sm-txt-container">
            <p id="sm-text" *ngIf="invQty != 0">Amount held: {{invQty}}</p>
          </div>
        </div>
      </div>
      <div class="total"> <!-- Total order cost -->
        <div class="calc-Btn"> <!-- *ngFor="let cost of costTotal" -->
          <button (click)="calculateTotal(symbol.value, qty)" >Calculate Total</button>
          <p> Total Price: {{ totalPrice | currency }} </p> <!--WORK IN PROGRESS-->
        </div>
      </div>

      <div> <!-- Payment and cancel buttons -->
        <button class="back-btn" [routerLink]="'/Portfolio'">Cancel</button>
        <button class="buy-btn" (click)="onPayment()" [routerLink]="'/Portfolio'">Payment</button>

      </div>
    </form> <!-- End of Buy/sell form -->
    <div>
      <mat-progress-spinner mode="indeterminate" *ngIf="txLoading"></mat-progress-spinner>
      <p>{{success}}</p>
    </div>
  </div> <!-- End form container -->
  <div class="search-container"> <!-- Container with the search box/function and ticker data-->
    <form class="search-form"> <!-- Contians the search box-->
      <mat-form-field class="search-form-field" appearance="fill">
        <mat-label>Symbol search</mat-label>
        <input matInput maxlength="5" placeholder="Ex. AAPL" [formControl]="symbolSearch"> <!--Ticker search box-->
        <button matSuffix mat-icon-button (click)="getTickerData(symbolSearch.value)"
          (submit)="getTickerData(symbolSearch.value)"> <!-- returns the ticker data from Polygon.io atter running getTickerData-->
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="table-responsive"> <!-- The data displayed from ticker-->
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Stock Information</th> <!-- Table title-->
            <th></th>
          </tr>
        </thead>
      </table>
      <table> <!--Data chart interperlated from tickerData in getTickerData from component page-->
        <tbody>
          <tr>
            <td>Ticker:</td> <!-- The ticker symbol-->
            <td>{{data.T}}</td>
          </tr>
          <tr>
            <td>Price at open:</td>  <!-- Stock price at opening of the trading day from getTickerData-->
            <td>{{data.o}}</td>
          </tr>
          <tr>
            <td>High of the day:</td> <!-- Highest of the trading day from getTickerData-->
            <td>{{data.h}}</td>
          </tr>
          <tr>
            <td>Low of the day:</td> <!-- Lowest stock price of the trading day from getTickerData-->
            <td>{{data.l}}</td>
          </tr>
          <tr>
            <td>Price at close:</td> <!-- Stock price at closingof the trading day from getTickerData-->
            <td>{{data.c}}</td>
          </tr>
          <tr>
            <td>Trading volume per day:</td> <!-- The total number of stock that were traded during the day from getTickerData-->
            <td>{{data.v}}</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- Container for table-->
  </div> <!-- End search container -->
</div><!--Component Container-->
